<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-lg-4 text-center bg-light">
      <section class="bg-light" id="news" >
        <h2 class="section-heading">Rejoignez la communauté</h2>
        <hr class="light">

        <p class="text-faded">
          Recevez, une fois par mois, une invitation à participer à nos événements.
        </p>

        <form action="//niclupien.us7.list-manage.com/subscribe/post?u=00578a85dd8e10586d9ecc9bf&amp;id=b147aa9b42" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank"  novalidate>

          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00578a85dd8e10586d9ecc9bf_b147aa9b42" tabindex="-1" value=""></div>

          <div class="form-group">
            <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="votre@courriel.com" required>
          </div>

          <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-xl">
        </form>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="bg" id="sponsors" style="height: 394px; background: #FFDCD4">
        <div class="text-center">
          <a href="http://www.multi-risques.com/" target="_blank" >
            <img src="{{ site.baseurl }}/img/amr.png" class="" alt="">
          </a>
          <a href="http://espace-inc.org/" target="_blank">
            <img src="{{ site.baseurl }}/img/espinc.png" class="" alt="">
          </a>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="bg-dark" id="social" style="height: 394px;">
        <div class="text-center call-to-action">
          <h1>Suivez-nous!</h1>
          <hr class="light">
          <br>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/startupdrinkssherbrooke" class="text"><i class="fa fa-facebook fa-3x wow bounceIn" style="margin-right: 20px"></i></a></li>
            <li><a href="https://www.linkedin.com/groups/8465360" class="text"><i class="fa fa-linkedin fa-3x wow bounceIn" style="margin-right: 20px"></i></a></li>
            <li><a href="https://twitter.com/StartupDrinksSh" class="text"><i class="fa fa-twitter fa-3x wow bounceIn" style="margin-right: 20px"></i></a></li>
            <li><a href="https://plus.google.com/102631126872235363639" class="text"><i class="fa fa-google-plus fa-3x wow bounceIn" style="margin-right: 20px"></i></a></li>
            <li><a href="http://eepurl.com/bMNYi1" class="text"><i class="fa fa-envelope fa-3x wow bounceIn" style="margin-right: 20px"></i></a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>



<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.fittext.js"></script>
<script src="{{ site.baseurl }}/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/creative.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56752686-1', 'auto');
  ga('send', 'pageview');
</script>
