<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="author" href="https://plus.google.com/+NicolasLupien"/>
  <link rel="publisher" href="https://plus.google.com/102631126872235363639" />
  <meta property="og:title" content="Techno Drinks Sherbrooke" />
  <meta property="og:description" content="Rassemblement des passionnés de technologie à Sherbrooke" />
  <meta property="og:url" content="http://technodrinks.com"/>
  <meta property="og:image" content="http://technodrinks.com/img/card.png" />
  <!-- <meta property="fb:app_id" content="" /> -->

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/creative.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Wishpond embed code -->
  <script type="text/javascript">
  (function(d, s, id) {
   window.Wishpond = window.Wishpond || {};
   Wishpond.merchantId = '1222955';
   Wishpond.writeKey = 'bdb045b772a2';
   var js, wpjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//cdn.wishpond.net/connect.js";
   wpjs.parentNode.insertBefore(js, wpjs);
  }(document, 'script', 'wishpond-connect'));
  </script>
  <div class="wishpond-campaign" data-wishpond-id="1814849" data-wishpond-href="https://www.wishpond.com/lp/1814849/"></div>
</head>
